@use '../../styles/variables' as *;

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: background-color 0.3s color 0.3s;
}

.darkBody {
    background-color: $primary;
    color: $darkbeige;
}

.lightBody {
    background-color: $darkbeige;
    color: $secondary;
}